@font-face {
  font-family: Gabarito;
  src: url(./assets/Gabarito-VariableFont_wght.ttf);
}

*{
  font-family: "Work Sans", sans-serif;
}
.scrollbar-custom::-webkit-scrollbar {
  width: 10px;
  height: 0px;
  margin: 10px;
  padding: 10px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: #00000000;
 margin: 0 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #c0bebe8e;
  /* border-radius: 10px; */
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0c5;
}
.home{
  background: url(./assets/freepik__upload__289.jpeg);
  background-position: center;
  background-size: contain;
  /* background-repeat: no-repeat; */
}